# Import Libraries
> and change directory

In [8]:
import os
import numpy as np
import pandas as pd
import re
import seaborn as sms
import matplotlib as mpl

os.chdir('.')

# Get Data together

In [10]:
#Make a list of all the SR Files
SR_flist=[os.path.join(root, f) for root, dirs, files in os.walk('logs') for f in files if 'SR-Ratings' in f]

#Make a list of Dataframes
data=[]
for f in SR_flist:
    participant_id=re.search('sub(.*)_',f).group(1)
    if any(i.isdigit() for i in participant_id):
        tmp_df=pd.read_csv(f)
        tmp_df['participant_id']=participant_id
        data.append(tmp_df)
#Concatonate the DataFrames together
full_df=pd.concat(data)
full_df=full_df.reset_index(drop=True)

rsq=pd.read_csv('./Behavioral_Analysis/ISTART2021-RSQ.csv')

ValueError: No objects to concatenate

In [1]:
rsq=pd.read_csv('./Behavioral_Analysis/ISTART2021-RSQ.csv')

NameError: name 'pd' is not defined

In [23]:
rsq.to_csv('joinedfile.csv', index=False)
display(rsq.head())
display(full_df.head())
full_df.join(rsq)

,participant_id,redcap_event_name,qualtrics_screener_phone,qualtrics_screener_email,qualtrics_screener_reward,appt1_date
0,1240,screening_process_arm_1,NaN,tuo59079@temple.edu,NaN,2021-06-08
1,1241,screening_process_arm_1,(267) 304-3504,myahollins@gmail.com,NaN,NaN
2,1242,screening_process_arm_1,NaN,molly.sabol@temple.edu,NaN,2021-06-11
3,1243,screening_process_arm_1,(215) 901-2386,m.frazier@temple.edu,-1.0,2021-07-06
4,1244,screening_process_arm_1,(203) 727-5608,samanthasreisman@gmail.com,1.0,2021-07-27

  TrialNumber Partner Trait  ran order Rating participant_id
0           1       3     0  1.0   0.0    5.0           1001
1           2       2     0  1.0   1.0   -2.0           1001
2           3       1     0  1.0   2.0    5.0           1001
3           4       3     1  1.0   3.0    5.0           1001
4           5       2     1  1.0   4.0    0.0           1001

ValueError: columns overlap but no suffix specified: Index(['participant_id'], dtype='object')