In [1]:
import os
import numpy as np
import pandas as pd
import re

os.chdir('.')

def listdir():
    for root, dirs, files in os.walk("."):
        for filename in files:
            print(filename)

In [2]:
data = pd.read_csv('SR_PartnerRatings_PS.csv', header = 0)
data

     TrialNumber  Partner  Trait  ran  order  Rating   sub
0              1        3      0    1      0       5  1001
1              2        2      0    1      1      -2  1001
2              3        1      0    1      2       5  1001
3              4        3      1    1      3       5  1001
4              5        2      1    1      4       0  1001
..           ...      ...    ...  ...    ...     ...   ...
301            2        2      0    1      1       5  3218
302            3        1      0    1      2       5  3218
303            4        3      1    1      3      -5  3218
304            5        2      1    1      4      -5  3218
305            6        1      1    1      5      -5  3218

[306 rows x 7 columns]

In [3]:
Trait = {0:'Win', 1:'Lose'}
Partner = {3:'Friend',2:'Stranger',1:'Comp'}

In [4]:
#This loop collapses the 6 rows of Shared Reward Partner Ratings into 1 row for each participant
collapsed = {}
for index, row in data.iterrows():
    if(not row['sub'] in collapsed):
        collapsed[row['sub']] = {}
    column_name = Trait[row['Trait']] + '-' + Partner[row['Partner']]
    collapsed[row['sub']][column_name] = row['Rating']

In [5]:
#PR = Partner Ratings from post-scan task
PR = pd.DataFrame(collapsed).T
PR = PR.reset_index().rename(columns = {'index':'sub'})
PR.to_csv('SR_PartnerRatings.csv',index=False)
pd.read_csv('SR_PartnerRatings.csv')

,sub,Win-Friend,Win-Stranger,Win-Comp,Lose-Friend,Lose-Stranger,Lose-Comp
0,1001,5,-2,5,5,0,4
1,1002,4,2,0,-3,-1,0
2,1006,3,2,5,-4,-1,-2
3,1007,4,4,3,0,0,0
4,1009,5,4,4,-5,-4,-4
5,1010,1,-2,-5,2,-3,-5
6,1011,5,5,2,-5,-5,-5
7,1012,3,0,0,-3,0,0
8,1013,5,-3,2,-4,1,-2
9,1015,5,3,0,-5,-3,0
10,1016,0,0,0,0,0,0
11,1019,5,2,0,-3,0,0
12,1021,1,1,0,1,0,0
13,1242,0,0,0,0,0,0
14,1243,2,0,0,-2,-1,0
15,1244,5,3,0,-2,0,0
16,1248,1,0,-5,-3,-5,-5
17,1249,5,5,4,-5,-5,-4
18,1251,2,0,1,0,0,-2
19,1255,5,0,-1,-5,0,-2
20,1276,3,-4,2,-4,0,-2
21,1282,5,3,1,-4,-2,0
22,1286,4,2,3,-3,-2,-3
23,1294,5,0,0,-2,0,0
24,1300,3,5,0,-1,0,0
25,1301,-1,-2,3,-3,0,0
26,1302,5,0,-5,-2,-3,-5
27,3116,5,1,0,-4,-1,0
28,3122,4,3,0,-5,-4,-1
29,3125,5,0,-5,-5,0,0
30,3140,5,2,-1,-2,0,-1
31,3143,4,-2,3,-5,-2,-2
32,3152,5,2,3,-5,-1,-3
33,3164,5,0,-2,-4,-5,-2
34,3166,4,1,0,-5,-3,-1
35,3167,5,3,2,-2,-5,-3
36,3170,5,4,3,-5,0,0
37,3173,5,-2,-4,-5,0,0
38,3176,5,3,2,-1,-2,-3
39,3186,4,0,-2,-3,-1,4
40,3189,3,2,1,-4,-2,-1
41,3190,5,-1,4,2,-2,2
42,3199,-1,0,-1,0,0,0
43,3200,5,3,1,-2,0,-3
44,3206,2,-3,1,-4,-2,0
45,3210,4,-5,-5,-5,-5,-5
46,3212,3,0,-2,-5,0,0
47,3218,5,5,5,-5,-5,-5

In [7]:
#RC = REDCap data
RC = pd.read_csv('SR_REDCap_data.csv').rename(columns = {'participant_id':'sub', 'ios_p':'closeness_rating'})
#RS = Reward Sensitivity scores
RS = pd.read_csv('Reward_Sensitivity.csv').rename(columns = {'RealID':'sub'})
#ASRD = All Shared Reward Data
ASRD = RS.merge(PR, on = 'sub', how = 'right').sort_values('sub', ascending = True, ignore_index = True)
ASRD = ASRD.merge(RC, on = 'sub', how = 'left').sort_values('sub', ascending = True, ignore_index = True)
ASRD.drop('redcap_event_name', axis = 'columns').to_csv('AllSharedRewardData.csv', index = False)
pd.read_csv('AllSharedRewardData.csv')

,Unnamed: 0,sub,gender,SPSRWD,BISBAS_BAS,PC1,Win-Friend,Win-Stranger,Win-Comp,Lose-Friend,Lose-Stranger,Lose-Comp,screen_age,closeness_rating
0,0,1001,1,7.000000,44.000000,0.664463,5,-2,5,5,0,4,NaN,5.0
1,1,1002,2,15.000000,35.000000,-1.433882,4,2,0,-3,-1,0,NaN,5.0
2,6,1006,2,12.000000,37.000000,-1.725609,3,2,5,-4,-1,-2,NaN,5.0
3,7,1006,2,12.000000,37.000000,-1.725609,3,2,5,-4,-1,-2,NaN,5.0
4,8,1007,1,14.000000,37.000000,-0.485203,4,4,3,0,0,0,21.235207,5.0
5,10,1009,1,12.000000,40.000000,0.627714,5,4,4,-5,-4,-4,20.203016,6.0
6,11,1010,2,11.000000,37.000000,-2.345812,1,-2,-5,2,-3,-5,22.215377,6.0
7,12,1011,2,14.000000,39.000000,1.083679,5,5,2,-5,-5,-5,21.979917,5.0
8,13,1012,1,5.000000,33.000000,-9.204796,3,0,0,-3,0,0,22.064793,5.0
9,14,1013,1,16.000000,41.000000,3.892968,5,-3,2,-4,1,-2,18.579551,4.0
10,16,1015,1,9.000000,35.000000,-5.155101,5,3,0,-5,-3,0,21.552918,4.0
11,17,1016,1,15.000000,40.000000,2.488324,0,0,0,0,0,0,22.138716,3.0
12,20,1019,1,15.000000,39.000000,1.703883,5,2,0,-3,0,0,18.234461,3.0
13,22,1021,1,11.000000,37.000000,-2.345812,1,1,0,1,0,0,21.196876,2.0
14,27,1242,1,14.000000,40.000000,1.868121,0,0,0,0,0,0,20.033266,2.0
15,28,1243,1,11.000000,35.000000,-3.914695,2,0,0,-2,-1,0,24.641049,3.0
16,29,1244,1,15.000000,48.000000,8.763854,5,3,0,-2,0,0,26.281055,2.0
17,32,1248,2,14.000000,39.000000,1.083679,1,0,-5,-3,-5,-5,23.523983,5.0
18,33,1249,1,13.000000,40.000000,1.247918,5,5,4,-5,-5,-4,19.359626,7.0
19,35,1251,2,8.000000,24.916667,-13.685087,2,0,1,0,0,-2,21.884091,5.0
20,37,1255,1,11.000000,38.000000,-1.561371,5,0,-1,-5,0,-2,19.871729,4.0
21,42,1276,1,10.000000,36.000000,-3.750457,3,-4,2,-4,0,-2,21.005223,2.0
22,44,1282,1,16.000000,41.000000,3.892968,5,3,1,-4,-2,0,20.326108,5.0
23,45,1286,1,12.000000,38.000000,-0.941168,4,2,3,-3,-2,-3,22.683445,5.0
24,46,1294,1,9.000000,37.000000,-3.586219,5,0,0,-2,0,0,21.711603,5.0
25,48,1300,1,9.000000,33.000000,-6.723984,3,5,0,-1,0,0,20.386341,6.0
26,49,1301,1,8.000000,38.000000,-3.421981,-1,-2,3,-3,0,0,23.444584,4.0
27,50,1302,1,20.000000,47.000000,11.080428,5,0,-5,-2,-3,-5,23.020322,4.0
28,53,3116,1,12.000000,41.000000,1.412156,5,1,0,-4,-1,0,20.123617,4.0
29,54,3122,1,16.000000,40.000000,3.108527,4,3,0,-5,-4,-1,20.840948,7.0
30,55,3125,2,18.000000,44.000000,7.486698,5,0,-5,-5,0,0,21.766361,7.0
31,60,3140,1,11.000000,37.000000,-2.345812,5,2,-1,-2,0,-1,23.077818,7.0
32,61,3143,1,13.000000,37.000000,-1.105406,4,-2,3,-5,-2,-2,20.958678,6.0
33,64,3152,1,16.000000,42.000000,4.677409,5,2,3,-5,-1,-3,22.573929,6.0
34,66,3164,2,20.000000,51.000000,14.218193,5,0,-2,-4,-5,-2,20.755959,6.0
35,67,3166,1,7.000000,36.000000,-5.611066,4,1,0,-5,-3,-1,21.478766,4.0
36,68,3167,1,9.000000,37.000000,-3.586219,5,3,2,-2,-5,-3,21.837432,4.0
37,69,3170,1,9.000000,32.000000,-7.508425,5,4,3,-5,0,0,19.781264,7.0
38,70,3173,2,14.000000,43.000000,4.221444,5,-2,-4,-5,0,0,18.483496,3.0
39,72,3176,1,8.347826,36.000000,-4.775140,5,3,2,-1,-2,-3,19.321410,6.0
40,75,3186,1,21.000000,49.000000,13.269514,4,0,-2,-3,-1,4,18.551944,5.0
41,77,3189,2,12.000000,37.000000,-1.725609,3,2,1,-4,-2,-1,23.439222,4.0
42,78,3190,1,14.000000,43.000000,4.221444,5,-1,4,2,-2,2,19.718292,4.0
43,80,3199,1,12.000000,40.000000,0.627714,-1,0,-1,0,0,0,20.071596,NaN
44,81,3200,2,8.000000,35.000000,-5.775304,5,3,1,-2,0,-3,18.215295,5.0
45,85,3206,2,12.000000,36.000000,-2.510051,2,-3,1,-4,-2,0,19.252962,NaN
46,86,3210,2,14.000000,41.000000,2.652562,4,-5,-5,-5,-5,-5,18.185178,3.0
47,87,3212,1,7.000000,36.000000,-5.611066,3,0,-2,-5,0,0,19.121543,7.0
48,88,3218,2,13.000000,37.000000,-1.105406,5,5,5,-5,-5,-5,NaN,NaN