In [1]:
# 12/06/2019- Updated to better format for 3 column file. Now output file is onset, trial_type, duration, response_time, endowment, etc.

import os  # import os is an important library
import re # Regular expression

datadir ='.' # Our path is HERE.

filelist = os.listdir(datadir) # os.listdir is a function that lists everything in directory. Like ls.
filelist = [f for f in filelist if f.startswith('sub')] # f is a string variable. 
filelist = [f for f in filelist if f.endswith('.csv')] # f is a string variable. 
print(filelist) 

f = filelist

['sub-1_task-ultimatum_run-0_raw.csv', 'sub-3_task-ultimatum_run-0_raw.csv']

In [2]:
import pandas as pd # Data frame tool imported as nickname

for f in filelist: # looping through the filelist
    print(f)
    sub=re.search('sub-(.*)_task', f).group(1)
    run=re.search('run-(.*)_raw.csv', f).group(1)
    
    Behavior = pd.read_csv(f) # Reads dataframe CSV tool $ sep: tab separated 0 calls the first element in the list.

    #Behavior = Behavior[['nTrial','trial_type','decision_onset','Endowment','rt','trialDuration','L_Option','R_Option','resp']]

    #Behavior.columns=['Trial','trial_type','Onset','Endowment','Response Time','Duration','L_Option','R_Option','Response']
    
    Behavior = Behavior[['cue_Onset','Block','trialDuration','rt','Endowment','trialDuration','nTrial','L_Option','R_Option','resp']]

    Behavior.columns=['onset','trial_type','duration','response_time','endowment','trial_Duration','nTrial','L_Option','R_Option','Response']
    
    display(Behavior.head())

    Behavior.to_csv('sub-%s_task-ultimatum_run-%s_events.tsv'%(sub,run),sep = '\t',index = False) # Saves to tsv # %s - String, index shuts off the left indexing from zero.

print(sub)   
print(run)

sub-1_task-ultimatum_run-0_raw.csv

,onset,trial_type,duration,response_time,endowment,trial_Duration,nTrial,L_Option,R_Option,Response
0,4.020617,3,1.287802,0.77350885,21,1.287802,1,9,0,3.0
1,--,2,1.4832163,0.9651597,25,1.4832163,2,8,11,2.0
2,--,2,1.718208,1.2006325,23,1.718208,3,4,10,3.0
3,--,2,0.533999,0.015091698,23,0.533999,4,1,10,2.0
4,--,1,0.549638,0.03101681,23,0.549638,5,1,7,3.0

sub-3_task-ultimatum_run-0_raw.csv

,onset,trial_type,duration,response_time,endowment,trial_Duration,nTrial,L_Option,R_Option,Response
0,--,2,1.784116,1.266985,19,1.784116,1,9,4,3.0
1,--,1,1.816903,1.299670,19,1.816903,2,6,4,2.0
2,--,1,1.667052,1.149201,15,1.667052,3,1,7,3.0
3,--,2,2.166682,1.650490,23,2.166682,4,10,1,3.0
4,43.561172,3,2.067271,1.550192,21,2.067271,5,9,4,3.0

3
0